
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;                                     
}


body
{
    width: 100%;
    
}


/* shared style */
.small-text
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.medium-text
{
    font-size: 48px;
    font-weight: 900;  
    color: #FFFFFF; 
}
.primary-btn
{
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    color: #FFFFFF;
    border: none;
    width: 200px;
}



/* banner section style starts here */


/* navbar section style starts here */
.banner
{
    background-image: linear-gradient(to bottom, #000000,#232222, #000000);
}
.navbar
{
    padding-top: 57px;
    display:flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    margin-bottom: 30px;
    
}
.nav-menu
{
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.37);
}
.humburger
{
    display: none;

}
.home-btn
{
  
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    color:#FFFFFF;
    border: none;
    margin: 5px;
}

.about
{
    margin-right: 20px;
}
.fitness-text
{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

/* navbar section style ends here */


/* stay healthy section style starts here */
header
{  margin: 0; 
    
}

main{
    background-color: #000000;
    margin: 0;      
    padding: 0;
}
.stay-healthy
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.stay-healthy-content
{
    width: 36%;
  
}
.stay-healthy-content>h1,.stay-healthy-content>p
{
    margin-bottom: 20px;
}
.stay-healthy-img-container
{
    width: 25%;
    height: 580px;
    position: relative;
    
}
.stay-healthy-img-container img
{
    width: 100%;
    height: 100%;
}
.stay-healthy-content>h1{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700; 
    line-height: 70px;

}
.miama
{
    font-family: 'Miama', sans-serif;
    font-size: 8rem;
    font-weight: 400; 
    color: #FFFFFF;                                         
}
.stay-healthy-content>p
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.stay-healthy-btn
{
    display: flex;
}


.tutorial-card
{
    width: 206px;
    height: 96px; 
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 5%;
    left: 56%;

}
.btn-two
{
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 20px;
    padding: 16px 40px;
    color: #FFFFFF;
    width: 200px;
}

.videos-card
{
    color: #FFFFFF;
    height: 85px;
    width: 190px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 45%;
    left: 80%;  
}
.videos-card>div
{
    margin-top: 20px;
    margin-left: 20px;
}
.small-card-text
{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}
.circle-icon
{
    font-size: 30px;
    position: relative;
}
.play-icon
{
    
    display: none;
}

/* stay healthy section style ends here */


/* habit section style starts here */

.habit
{
    width: 73%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #000000;
    margin-bottom: 100px;
    /* margin-bottom: 50px; */ 
     /* for phone */
}
.habit-text
{
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}
.habit-content-container
{
    width: 100%;
    display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}
.habit-content
{
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.habit-image-container
{
    height: 180px;
    width: 180px;
}
.habit-image-container img
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgba(128, 128, 128, 0.64);
    object-fit: cover;
}
/* habit ends style  here */


/* run section style starts here  */
.run
{
    margin: 0 auto;
    border-radius: 18px;
    background-color:rgb(34, 34, 34);
    width: 73%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.run-img-container
{
    width: 360px;
    height: 310px;
    
}

.run-img-container img
{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: none;
    object-position: 65% 28%;
    
}

.run-text-container
{
    width: 40%;
    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
/* run section style ends here  */